/Buoi7_LuyenTap/nbproject/private/
/Buoi7_LuyenTap/build/
/BTVN_Buoi8/nbproject/private/
/BTVN_Buoi8/build/
/Assignment1_Buoi9/nbproject/private/
/Assignment1/nbproject/private/
/Assignment/nbproject/private/
/Assignment/build/
/Buoi9_Assignment/nbproject/private/
/Assignment_Buoi9/nbproject/private/
/PH46895/nbproject/private/
/PH46895/build/
/Buoi10/nbproject/private/
/Buoi10/build/
/BTVN_Buoi10/nbproject/private/
/BTVN_Buoi10/build/
/BTVN2/nbproject/private/
/BTVN2/build/
/Buoi11/nbproject/private/
/Buoi11/build/
/BTVN_Buoi11/nbproject/private/
/BTVN_Buoi11/build/
